/*
    * CSS da Tela de Login
    -------------------------------------------------------------------------------------------------------
*/

/* --------------------------------------------------------------------------------------------------------
 * Form
 ---------------------------------------------------------------------------------------------------------- */

.form-signin {
    /* Largura do form */
    width: 400px;

    /* Espaçamento interno */
    padding: 15px;
}

.logo {
    /* Largura da logo */
    width: 170px;
}

/* --------------------------------------------------------------------------------------------------------
 * Imagem
 ---------------------------------------------------------------------------------------------------------- */

.background-login {
    /* Posicionamento da imagem */
    object-fit: cover;
    object-position: left;

    /* Largura e altura */
    width: 100%;
    height: 100vh;
}